<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h5>Classes</h5>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <strong> Classes</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5> Table Classe</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3 m-b-xs">
                            <select #c (change)="this.getClasseByFiliere(c.value)" class="form-control-sm form-control input-s-sm inline">
                                <option value="">Afficher par  Filiere </option>
                                <option *ngFor="let filiere of filieres" value={{filiere.id}}>{{filiere.nom}} </option>
                        </select>
                        </div>
                        <div class="col-sm-3"></div>
                        <div class="col-sm-5">
                            <div class="input-group"><input placeholder="Search By code, annee" [formControl]="search" type="text" class="form-control form-control-sm"> <span class="input-group-append"> 
                                     <button type="button" (click)="getClasses()" class="btn btn-sm btn-primary">Go!
                            </button> </span></div>

                        </div>
                    </div>
                    <ng-container *ngIf="(classes | async) as result" [ngSwitch]="result.dataState">
                        <ng-container *ngSwitchCase="DataStateEnum.LOADING">
                            Loading .....
                        </ng-container>
                        <ng-container *ngSwitchCase="DataStateEnum.ERROR">
                            <div class="alert alert-danger"> {{result.errorMessage}} </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="DataStateEnum.LOADED">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Specialite</th>
                                            <th>Filiere</th>
                                            <th>Annee Scolaire</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let classe of result.data | paginate:{itemsPerPage: 4, currentPage: p }">
                                            <td>{{classe.code}} </td>
                                            <td><a [routerLink]="['/specialites']">{{classe.specialite.nom}} </a></td>
                                            <td><a [routerLink]="['/filieres']">{{classe.specialite.filiere.nom}} </a></td>
                                            <td>{{classe.anneeScolaire}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div id="pagination">
                                    <pagination-controls (pageChange)="p=$event"></pagination-controls>
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>

    </div>
</div>