<form *ngIf="form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group row">
        <div class="col-sm-7">
            <div *ngFor="let personnelAccorder of personnelAccorders">
                <input type="checkbox" [value]="personnelAccorder.id" (change)="onChange($event)" /> {{personnelAccorder.prenom}} {{personnelAccorder.nom}}
            </div>
        </div>
        <div class="col-sm-2 ">
            <button type="submit" [disabled]="!form.valid" class="btn btn-lg btn-success">Valider</button>
        </div>
    </div>
</form>