<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h4>Sujet</h4>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <strong> Sujet</strong>
            </li>
        </ol>
    </div>
</div>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
    <ul class="navbar navbar-nav">
        <li>
            <button routerLink="sujets_list" routerLinkActive="activebutton" (click)="onGetAll()" class="btn btn-sm btn-outline-info ml-2">All</button>
        </li>
        <li>
            <button routerLink="sujets_list" routerLinkActive="activebutton" (click)="onGetSujetPropose()" class="btn btn-sm btn-outline-info ml-2">Proposés</button>
        </li>
        <li>
            <button routerLink="sujets_list" routerLinkActive="activebutton" (click)="onGetSujetAccorde()" class="btn btn-sm btn-outline-info ml-2">Accordés</button>
        </li>
        <li>
            <button routerLink="sujets_list" routerLinkActive="activebutton" (click)="onGetSujetValide()" class="btn btn-sm btn-outline-info ml-2">Valides</button>
        </li>
        <li>
            <button routerLink="sujets_list" routerLinkActive="activebutton" (click)="onGetSujetTermine()" class="btn btn-sm btn-outline-info ml-2">Terminé</button>
        </li>
        <li>
            <button routerLink="sujets_list" routerLinkActive="activebutton" routerLinkActive="activebutton" (click)="onGetSujetSoutenu()" class="btn btn-sm btn-outline-info ml-2">Soutenus</button>
        </li>
        <li>
            <button routerLink="sujets_list" routerLinkActive="activebutton" (click)="onGetSujetDepose()" class="btn btn-sm btn-outline-info ml-2">Deposés</button>
        </li>

        <li>
            <button routerLink="sujet_add" routerLinkActive="activebutton" (click)="onGetAll()" class="btn btn-sm btn-outline-info ml-2">Nouveau</button>
        </li>
    </ul>
    <ul class="navbar navbar-nav ml-auto">
        <li>
            <form class="form-inline">
                <input ngModel name="keyword" type="text">
                <button class="btn btn-sm btn-outline-info ml-2">
              <span class="fa fa-search"></span>
            </button>
            </form>
        </li>
    </ul>
</nav>