<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Etudiants</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Etudiants</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRightBig">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Etudiants </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3 m-b-xs">
                            <select #n (change)="getEtudiantsByNiveau(n.value)" class="form-control-sm form-control input-s-sm inline">
                            <option value="">Afficher par niveau </option>
                            <option *ngFor="let niveau of niveaux" value="{{niveau.code}}" >{{niveau.nom}} </option>
                        </select>
                        </div>
                        <div class="col-sm-3 m-b-xs">
                            <select #p (change)="this.getEtudiantsByPromotion(p.value)" class="form-control-sm form-control input-s-sm inline">
                                <option value=0>Afficher par  Promotion </option>
                                <option *ngFor="let promotion of promotions" value={{promotion.id}}>{{promotion.code}} </option>
                        </select>
                        </div>
                        <div class="col-sm-3 m-b-xs">
                            <select #c (change)="this.getEtudiantsByClasse(c.value)" class="form-control-sm form-control input-s-sm inline">
                                <option value=0>Afficher par  Classe </option>
                                <option *ngFor="let classe of classes" value={{classe.id}}>{{classe.code}} </option>
                        </select>
                        </div>
                        <div class="col-sm-3">
                            <div class="input-group"><input placeholder="Search By Prenom, Nom , INE" [formControl]="search" type="text" class="form-control form-control-sm">
                                <span class="input-group-append"> 
                            <button (click)=" getEtudiants()" class="btn btn-sm btn-primary">Go!
                            </button> </span></div>

                        </div>
                    </div>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>INE</th>
                                    <th>Prenom </th>
                                    <th>Nom </th>
                                    <th>Telephon</th>
                                    <th>Email</th>
                                    <th>Promotion</th>
                                    <th>Code Classe</th>
                                    <th>Specialite</th>
                                    <th>Niveau</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let etudiant of etudiants">
                                    <td>{{etudiant.ine}} </td>
                                    <td>{{etudiant.prenom}}</td>
                                    <td>{{etudiant.nom}}</td>
                                    <td>{{etudiant.telephon}}</td>
                                    <td>{{etudiant.email}}</td>
                                    <td>{{etudiant.promotion.code}}</td>
                                    <td>{{etudiant.classe.code}}</td>
                                    <td><a [routerLink]="['/specialites']">{{etudiant.classe.specialite.nom}}</a></td>
                                    <td>{{etudiant.classe.specialite.niveau}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>