<div class="wrapper wrapper-content animated fadeInUpBig">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5> Table Sujet</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-3"></div>
                    </div>
                    <ng-container *ngIf="(sujets$ | async) as result" [ngSwitch]="result.dataState">
                        <ng-container *ngSwitchCase="DataStateEnum.LOADING">
                            Loading .....
                        </ng-container>
                        <ng-container *ngSwitchCase="DataStateEnum.ERROR">
                            <div class="alert alert-danger"> {{result.errorMessage}} </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="DataStateEnum.LOADED">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>titre</th>
                                            <th>Proprietaire</th>
                                            <th>Date creation</th>
                                            <th>Etat du sujet</th>
                                            <th>Editer</th>
                                            <th>View</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let sujet of result.data">
                                            <td>{{sujet.titre}} </td>
                                            <td>{{sujet.owner}} </td>
                                            <td>{{sujet.createdDate}}</td>
                                            <td>{{sujet.etatSujet}}</td>
                                            <td><button [routerLink]="['sujet_edit', sujet.id]" class="btn btn-outline-success"><a><span class="fa fa-pencil"></span></a></button> </td>
                                            <td><button [routerLink]="['sujet_view', sujet.id]" class=" btn btn-outline-success "><a><span class="fa fa-eye "></span></a></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                    <!-- [routerLink]="[ 'sujet_edit', sujet.id] (click)="onUpdateSujet(sujet.id)" -->
                                </table>
                            </div>
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>

    </div>
</div>