<ng-container *ngIf="(sujets$ | async) as result" [ngSwitch]="result.dataState">
    <ng-container *ngSwitchCase="DataStateEnum.LOADING">
        Loading .....
    </ng-container>
    <ng-container *ngSwitchCase="DataStateEnum.ERROR">
        <div class="alert alert-danger"> {{result.errorMessage}} </div>
    </ng-container>
    <div class="offset-sm-11">
        <button [routerLink]="[ '/sujets']" class="btn-success quitter"><i class="fa fa-reply" aria-hidden="true"></i></button>
    </div><br>
    <ng-container class="row" *ngSwitchCase="DataStateEnum.LOADED">
        <div class="table-responsive  col-sm-12">
            <table class="table table-striped ">
                <caption>Liste des sujets</caption>
                <thead class="table-success">
                    <tr>
                        <th>ID</th>
                        <!-- <th>Sujet</th> -->
                        <th>titre</th>
                        <th>Personnel</th>
                        <!-- <th>Valide</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sujet of result.data | paginate:{itemsPerPage: 3, currentPage: p }">
                        <td>{{sujet.id}} </td>
                        <td>{{sujet.titre}} </td>
                        <td *ngIf="sujet">
                            <app-valider-form [idSujet]="sujet.id"></app-valider-form>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="pagination">
                <pagination-controls (pageChange)="p=$event"></pagination-controls>
            </div>
        </div>
    </ng-container>
</ng-container>