<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Departements</h2>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Departements</strong>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content animated flipInX">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Departements </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6"></div>
                        <div class="col-sm-5">
                            <div class="input-group"><input placeholder="Search By nom, code" type="text" [formControl]="search" class="form-control form-control-sm"> <span class="input-group-append">
                                      <button type="button" (click)="getDepartements()" class="btn btn-sm btn-primary">Go!
                            </button> </span></div>

                        </div>
                    </div>
                    <ng-container *ngIf="(departements | async) as result" [ngSwitch]="result.dataState">
                        <ng-container *ngSwitchCase="DataStateEnum.LOADING">
                            <div class="ibox-content">
                                <div class="spiner-example">
                                    <div class="sk-spinner sk-spinner-wave">
                                        <div class="sk-rect1"></div>
                                        <div class="sk-rect2"></div>
                                        <div class="sk-rect3"></div>
                                        <div class="sk-rect4"></div>
                                        <div class="sk-rect5"></div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="DataStateEnum.ERROR">
                            <div class="alert alert-danger"> {{result.errorMessage}} </div>
                        </ng-container>
                        <ng-container *ngSwitchCase="DataStateEnum.LOADED">
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Code</th>
                                            <th>Nom du departement </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let departement of result.data">
                                            <td>{{departement.code}} </td>
                                            <td>{{departement.nom}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </ng-container>
                    </ng-container>



                </div>
            </div>
        </div>

    </div>
</div>